//
//  BaseConfig.xcconfig
//  FlowDown
//
//  Created by king on 2025/10/9.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

CODE_SIGN_IDENTITY = Apple Development
CODE_SIGN_STYLE = Automatic
DEVELOPMENT_TEAM = 964G86XT2P
PRODUCT_BUNDLE_IDENTIFIER[config=Debug][sdk=*][arch=*] = wiki.qaq.flow
PRODUCT_BUNDLE_IDENTIFIER[config=Release][sdk=*][arch=*] = wiki.qaq.flow

CLOUDKIT_SYNC_CONTAINER_IDENTIFIER = iCloud.$(PRODUCT_BUNDLE_IDENTIFIER).sync

INFOPLIST_KEY_UISupportsDocumentBrowser[config=Debug][sdk=*][arch=*] = YES

INFOPLIST_FILE = FlowDown/Resources/InfoPlist/Info-iOS.plist
INFOPLIST_FILE[sdk=macosx*] = FlowDown/Resources/InfoPlist/Info-Catalyst.plist

CODE_SIGN_ENTITLEMENTS = FlowDown/Resources/Entitlements/Entitlements-iOS.entitlements
CODE_SIGN_ENTITLEMENTS[sdk=macosx*] = FlowDown/Resources/Entitlements/Entitlements-Catalyst.entitlements

SUPPORTED_PLATFORMS = iphoneos iphonesimulator
SUPPORTED_PLATFORMS[sdk=macosx*] = macosx

SUPPORTS_MACCATALYST = NO
SUPPORTS_MACCATALYST[sdk=macosx*] = YES
SUPPORTS_MAC_DESIGNED_FOR_IPHONE_IPAD = NO
SUPPORTS_XR_DESIGNED_FOR_IPHONE_IPAD = NO

ENABLE_SANDBOX_CHECK = 1
ENABLE_SANDBOX_CHECK_0 =
ENABLE_SANDBOX_CHECK_1 = ENABLE_SANDBOX_CHECK
ENABLE_SANDBOX_CHECK_COMPILATION_CONDITIONS = $(ENABLE_SANDBOX_CHECK_$(ENABLE_SANDBOX_CHECK))

SWIFT_ACTIVE_COMPILATION_CONDITIONS = $(inherited) $(ENABLE_SANDBOX_CHECK_COMPILATION_CONDITIONS)

#include? "Developer.xcconfig"
